
#menuh {
  font-family: 'Audiowide', Helvetica, Arial sans-serif;
  font-size: 15px;
  line-height:18px;
  margin-top: 19px;
}
#menuh ul, li {
  list-style-type: none;
}
#menuh ul {
  margin: 0;
  padding-bottom: 0px;
}

#menuh li {
  float: left;
}
#menuh a {
  text-decoration: none;
  color: #fff;
  background: #000;
  display: block;
  padding: 9px 15px;
  text-align: center;
  border: 1px solid #fff;
  border-width: 0px 1px 0px 0;
}
#menuh a#primero {
  border-left: 0px solid #ACCFE8;
}
#menuh a:hover {
  background: #ccc;
}

h1, h2, h3, h4, h5, h6, p, blockquote, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #252824;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 36px;
}

h1 {
  margin-bottom: 25px;
  font-size: 34px;
  text-decoration: none;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

h1 a {
  text-decoration: none;
}

a {
  color: #000;
  text-decoration:underline;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

a#archive {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

p {
  margin-bottom: 9px;
}


#container {
  min-width: 300px;
}

body > header {
  border-bottom: 2px solid #0c3a7f;
  background-color: #fff;
  padding-top: 5px;
  color: #fff;
  background: #000;
}

body >footer *,
body > header * {
  margin: 0;
  padding: 0;
}

body > header .inner {
  margin: 15px 40px;
}


body > footer {
  margin: 0 40px;
}

body > footer .inner {
  border-top: 1px solid #dfdfdf;
  padding: 10px 0;
  text-indent: 5px;
  color: #b6b6b6;
  font-style: italic;
}

body > header h1 {
  font-family: 'Audiowide';
  font-size: 40px;
  line-height: 40px;
  text-shadow: rgba(255,255,255,0.3) 0 0 15px;
  padding-bottom: 8px;
}
body > header h4 {
  font-family: 'Audiowide';
  font-size: 18px;
  line-height: 18px;
  text-shadow: rgba(255,255,255,0.3) 0 0 10px;
}

body > header a {
  color: #fff;
}

body > header h1 a:hover {
  text-decoration: none;
}

body > header p {
  margin-top: 3px;
  text-indent: 10px;
  font-style: italic;
}

body > header a.back {
  float: right;
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  margin-top: 20px;
  opacity: 0.5;
}
body > header a.back:hover {
  opacity: 1;
  text-shadow: rgba(255,255,255,0.3) 0 0 10px;
}

#content {
  margin: 40px;
}

article.post {
  margin-bottom: 60px;
}

article.post .content img {
  max-width: 100%;
}

article.post header {
  margin-bottom: 22px;
  border-bottom: 1px solid #dfdfdf;
}

article.post header a {
  color: #252824;
  text-decoration: none;
}

article.post header a:hover {
  text-shadow: none;
  text-decoration: underline;
}

hr {
  margin: 0 0 19px;
  border: 0;
  border-bottom: 1px solid #dfdfdf;
}

blockquote {
  padding: 13px 13px 21px 15px;
  margin-bottom: 18px;
  font-family:georgia,serif;
  font-style: italic;
}

blockquote:before {
  content:"\201C";
  font-size:40px;
  margin-left:-10px;
  font-family:georgia,serif;
  color:#eee;
}

blockquote p {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
  font-style: italic;
}

code, pre {
  font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
}

code {
  background-color: #eef3f9;
  border: 1px solid #dfdfdf;
  padding: 1px 3px;
  font-size: 12px;
  border-radius: 2px;
}

pre {
  display: block;
  padding: 14px;
  margin: 0 0 18px;
  line-height: 16px;
  font-size: 11px;
  border: 1px solid #dfdfdf;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #eef3f9;
}

pre code {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}

.archive ul {
  list-style: none;
  margin: 0;
  padding: 5px 20px;
}
.archive .year {
  font-size: 18px;
  margin-top: 10px;
}

@media screen and (min-width: 776px) {
  body > header .inner,
  body > footer .inner,
  #content {
    width: 676px;
    margin-left: auto;
    margin-right: auto;
  }
  body > header .inner {
    margin: 9px auto;
  }
  body > header {
    padding-top: 10px;
    padding-bottom: 34px; 
  }
  body > header h1 {
    font-size: 44px;
    line-height: 46px;
    text-shadow: rgba(255,255,255,0.3) 0 0 20px;
  }
}
